body{
    background-color: #fff !important;
}
.card1 {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 100%;
}
