<!-- <p>dashboard works!</p> -->

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <app-sidebar></app-sidebar>

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <app-header></app-header>
        <br>
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div *ngIf="isLoaded">

            <h1 style="text-align: center;">View Added Bank accounts</h1>
            <div class="card1">
              <div>
                <div class="card-group">

                  <div *ngFor="let b of bank">
                    <div class="card mb-4">
                      <div class="card text-center p-3">
                        <blockquote class="blockquote mb-0">
                          <div class="card-header">Bank: {{b.bankName}} </div>
                          <div class="card-body">
                            <h3>Name: {{b.name}}</h3>

                            <div class="text-muted">
                              <h5>Email: {{b.email}}</h5>
                            </div>
                            <div class="text-muted">
                              <h5> Account no: {{b.accountNo}}</h5>
                            </div>

                            <div class="text-muted">
                              <h5>Balance:{{b.balance | currency:'INR':'symbol-narrow':'4.2-2'}}</h5>
                            </div>
                            <div class="text-muted">
                              <h5> IFSC code: {{b.ifsc}}</h5>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>