<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">BookApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">Home </a>
            </li>
            <li class="nav-item  active">
                <a class="nav-link" routerLink="book">Book</a>
            </li>

        </ul>

        <a class='nav-item active text-warning' routerLink="userdetail/{{getId()}}">{{currentuser}}</a>
        <button *ngIf="getId()!=undefined " (click)='logout();ngOnInit()' class="btn btn-danger my-2 my-sm-0 m-1"
            type="submit">Logout</button>
        <button (click)='login();ngOnInit()' *ngIf="currentuser==null" class="btn btn-success my-2 my-sm-0 m-1"
            type="submit">Login</button>
        <button (click)='register();ngOnInit()' *ngIf="currentuser==null" class="btn btn-primary my-2 my-sm-0 m-1"
            type="submit">Register</button>

    </div>
</nav>